  body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #cceeff);
  }

  #game {
    position: relative;
    width: 2000px; /* mundo más grande */
    height: 100vh;
  }

  .player {
    position: absolute;
    width: 40px;
    height: 40px;
    background: lime;
    border-radius: 8px;
  }

  .platform {
    position: absolute;
    height: 20px;
    background: #444;
    border-radius: 5px;
  }

  .goal {
    position: absolute;
    width: 40px;
    height: 60px;
    background: gold;
    border: 3px solid orange;
  }